a {
    color:darkturquoise;
}

a:hover {
    color:cyan;
}

.aboutMeText {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    
    font-family: varelaFont;
    font-size: 20px;

    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

body {
    margin: 0px;

    background-image: url("../Images/Backgrounds/connectwork.png");
    background-repeat: repeat;
}

.buttonPreviewPhoto {
    width: 75%;
    height: 190%;

    position: relative;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;

    border: 1px solid rgba(0, 0, 0, 1);

    transition: 0.2s;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonPreviewPhoto:hover {
    border: 1px solid white;
}

.buttonPreviewText {
    position: relative;
    margin-left:auto;
    margin-right:auto;

    width: auto;
    height: 0%;
    bottom: -130px;

    transition: 0.2s;
}

.twoLinePreview {
    position: relative;
    top: px;
}

.twoLinePreviewPhoto {
    height: 205%;
}

.twoLinePreviewText {
    bottom: -135px;
}

.buttonPreviewText:hover {
    color: rgb(220, 220, 220);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.contactInfo {
    font-family: varelaFont;
    font-size: 30px;

    color:rgb(230, 230, 230);
    text-align: center;
}

.contactLink {
    color: rgb(62, 151, 211);
}

.contactLink:hover {
    color: rgb(51, 120, 167);
}

.contactLinkResume {
    color: rgb(255, 255, 255);
}

.contactLinkResume:link {
    text-decoration: none;
}

.contactLinkResume:hover {
    color: rgb(220, 220, 220);
}

.divTable {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    height: 100%;
}

.skillDivTable {
    width: 90%;
    border-spacing: 50px;
}
  
.divRow { 
    display:table-row;
    height:300px; 
}

.skillRow {
    height:75px;
}

.divCell {
    display:table-cell;
    width:  250px;
}

.skillCell {
    position:relative;

    height: 100px;
}

.closePopup {
    background-image: url('../Images/CloseIcon.png');
    background-size: 100% 100%;
    
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.contactIcons {
    position: relative;
    top: 25%;

    width: 75px;
    height: 50px;

    filter: brightness(0) invert(1) contrast(1);

    transition: 0.2s;
}

.contactIcons:hover {
    filter: brightness(0) invert(1) contrast(.5);
}

@font-face {
    font-family: varelaFont;
    src: url('../Varela-Regular.ttf');
}

.footer {
    font-family: varelaFont;
    font-size: 14px;

    color:rgb(230, 230, 230);
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: varelaFont;
}

.headshot {
    display: block;
    border-radius: 50%;

    width: 200px;
    height: 200px;

    margin-left: auto;
    margin-right: auto;
}

.mainTitle {
    font-size: 58px;
}

.mainTitle, .secondaryTitle {
    color:rgb(51, 120, 167);
    text-align: center;

    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.missionStatement {
    color: rgb(172, 220, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    
    font-family: varelaFont;
    font-size: 25px;
    font-style: italic;

    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.MITDisclaimer {
    font-family: varelaFont;
    font-size: 16px;

    text-align: center;
    color:rgb(230, 230, 230);
}

.MITLicense {
    font-family: varelaFont;
    font-size: 16px;

    color:rgb(230, 230, 230);
}

.MITLicense:hover {
    color: rgb(255, 255, 255);
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(150, 150, 150, 0.8);
    z-index: 2;

    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
  }

.popup {
    position: fixed;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    background-color:rgb(37, 37, 37);

    overflow-y: auto;

    -webkit-animation: fadeIn .75s;
    animation: fadeIn .75s;
}

.popupTitle {
    text-align: center;
}

.popupText {
    text-align: left;
    padding: 10px;
    width: 90%;
}

.popupText, .popupTitle {
    font-family: varelaFont;
    color: rgb(230, 230, 230);
}

.popupViewerImages {
    overflow-x: auto;
    white-space: nowrap;
    margin: 12px;
}

.previewPhoto1 {
    background-image: url("../Images/Projects/BombVoyage/BombVoyagePreview.png");
}

.previewPhoto2 {
    background-image: url("../Images/Projects/Rummage/RummagePreview.png");
}

.previewPhoto3 {
    background-image: url("../Images/Projects/MoteRaycaster/MoteRaycasterPreview.png");
}

.previewPhoto4 {
    background-image: url("../Images/Projects/ChatApp/ChatAppPreview.png");
}

.previewPhoto5 {
    background-image: url("../Images/Projects/GeneticAlgorithm/GeneticAlgorithmPreview.png");
}

.previewPhoto6 {
    background-image: url("../Images/Projects/HashMap/HashMapPreview.png");
}

.previewPhoto7 {
    background-image: url("../Images/Projects/YokaiRush/YokaiRushPreview.png");
}

.previewPhoto8 {
    background-image: url("../Images/Projects/Snyatcher/SnyatcherPreview.png");
}

.previewPhoto9 {
    background-image: url("../Images/Projects/AstralAngles/AstralAnglesPreview.png");
}

.previewPhoto10 {
    background-image: url("../Images/Projects/DontHide/DontHidePreview.png");
}

.previewText {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: rgb(255, 255, 255);

    font-family: varelaFont;
    font-size: 24px;
}

.project {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
}

.secondaryTitle {
    font-size: 50px;
}

.skillIcon {
    position: absolute;
    width: 20%;
    top: 0px;
    right: 10px;

    filter: brightness(0) invert(1);
}

.skillTitle {
    position: absolute;
    left: 5px;
    height:100%;

    color: rgb(220, 220, 220);

    font-family: varelaFont;
    font-size: 18px;


    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.longSkillTitle {
    top: -25px;
}

.skillUnderline {
    background-color: rgb(51, 120, 167);
    position: absolute;
    width: 100%;
    height: 4px;
    top: 65px;
}

.socialDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 250px;
    height: 75px;
}

.socialIcons:hover {
    color: red;
}

.tab {
    position: relative;
    width: 100%;
    height: 75px;

    background-image: url('../Images/Backgrounds/webb.png');
    background-repeat: repeat;
}

.tabLink {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;

    width: 25%;
    height: 100%;

    font-family: varelaFont;
    font-size: 28px;

    cursor: pointer;
}

.tabLink:hover {
    background-color: rgba(0, 0, 0, .75);
    color:rgb(230, 230, 230);

    font-size: 32px;
}

.viewerImages {
    height: 100px;
    cursor: pointer;

    border: 3px solid rgba(0,0,0,0);
    transition: 0.2s;
}

.viewerImages:hover {
    border: 3px solid white;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
}
  
@keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
}

.test {
    background-color: burlywood;
}