a {
    color:darkturquoise;
}

a:hover {
    color:cyan;
}

.aboutMeText {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    
    font-family: varelaFamily;
    font-size: 24px;
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

body {
    margin: 0px;

    background-image: url("../Images/Backgrounds/connectwork.png");
    background-repeat: repeat;
}

.buttonPreviewPhoto {
    background-size: 100% 100%;
    width: 80%;
    height: 180%;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;

    border: 1px solid rgba(0, 0, 0, 1);
}

.buttonPreviewPhoto:hover {
    border: 1px solid white;
}

.buttonPreviewText {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    height: 0%;
    bottom: -120px;
}

.buttonPreviewText:hover {
    color: rgb(255, 255, 255);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.divTable {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    height: 100%;
}
  
.divRow { 
    display:table-row;
    height:300px; 
}

.divCell {
    display:table-cell;
}

.closePopup {
    background-image: url('../Images/CloseIcon.png');
    background-size: 100% 100%;
    
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}

@font-face {
    font-family: varelaFont;
    src: url('../Varela-Regular.ttf');
}

h1, h2, h3, h4 {
    font-family: varelaFont;
}

.headshot {
    display: block;
    border-radius: 50%;

    width: 300px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
}

.mainTitle {
    font-size: 84px;
}

.mainTitle, .secondaryTitle {
    color:rgb(89,112,129);
    text-align: center;

    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.missionStatement {
    color: rgb(230, 230, 230);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    
    font-family: varelaFamily;
    font-size: 30px;
    font-style: italic;

    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(218, 218, 218, 0.8);
    z-index: 2;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
  }

.popup {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color:rgb(37, 37, 37);
}

.popupTitle {
    text-align: center;
}

.popupText {
    text-align: left;
    padding: 10px;
    width: 90%;
}

.popupText, .popupTitle {
    font-family: varelaFamily;
    color: rgb(230, 230, 230);
}

.previewPhoto1 {
    background-image: url("../Images/Projects/BombVoyage/BombVoyagePreview.png");
}

.previewPhoto2 {
    background-image: url("../Images/Projects/Rummage/RummagePreview.png");
}

.previewPhoto3 {
    background-image: url("../Images/Projects/MoteRaycaster/MoteRaycaster.png");
}

.previewPhoto4 {
    background-image: url("../Images/Projects/ChatApp/ChatApp.png");
}

.previewPhoto5 {
    background-image: url("../Images/Projects/GeneticAlgorithm/GeneticAlgorithmPreview.png");
}

.previewPhoto6 {
    background-image: url("../Images/Projects/HashMap/HashMapPreview.png");
}

.previewPhoto7 {
    background-image: url("../Images/Projects/YokaiRush/YokaiRushPreview.png");
}

.previewPhoto8 {
    background-image: url("../Images/Projects/Snyatcher/SnyatcherPreview.png");
}

.previewPhoto9 {
    background-image: url("../Images/Projects/AstralAngles/AstralAnglesPreview.png");
}

.previewPhoto10 {
    background-image: url("../Images/Projects/DontHide/DontHidePreview.png");
}

.previewText {
    text-decoration: underline;
    color: rgb(220, 220, 220);

    font-family: varelaFamily;
    font-size: 32px;
}

.project {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
}

.secondaryTitle {
    font-size: 58px;
}

.tab {
    position: relative;
    width: 100%;
    height: 150px;

    background-image: url('../Images/Backgrounds/webb.png');
    background-repeat: repeat;

}

.tabLink {
    width: 30%;
    height:40%;
    margin-left: auto;
    margin-right: auto;

    font-family: varelaFamily;
    font-size: 30px;

    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
}

.tabLink:hover {
    background-color: rgb(210, 210, 210);
}