.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.buttonPreviewPhoto {
    background-image: url("../Images/Headshot.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 180%;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.buttonPreviewText {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    height: 0%;
    bottom: -130px;
}

.divTable {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 30px;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    height: 100%;
}
  
.divRow { 
    display:table-row;
    height:300px; 
}

.divCell {
    display:table-cell;
    background-color: gold;
}

.closePopup {
    background: rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(218, 218, 218, 0.8);
    z-index: 2;
}

.popup {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background: rgb(255, 177, 177);
}

.popupTitle {
    text-align: center;
}

.popupText {
    text-align: left;
    padding: 10px;
    width: 90%;
}

.previewText {
    text-decoration: underline;
}

.project {
    display: grid;
    background:rgb(0, 195, 255);
    width: 100%;
    height: 100%;
    text-align: center;
}